html {
    background-color: rgb(207, 219, 232);
}

body{
    background-color: rgb(207, 219, 232);
}

header {
    background-color: rgb(207, 219, 232);
}

h1 {
    margin: 5%;
    text-align: center;

}

section {
    display: block;
    text-align: center;
    padding: 3%;
    
}
label {
    margin-left: 3%;
}

#noteIn {
    width: 40%;
    height: 4;
}

#doneHeading {
 margin-top: 10%;
}

table {
    text-align: center;
    background-color: mintcream;
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}
